.product {
  height: 100vh;
  width: 1108.2px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.text-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.text-section h1 {
  font-size: 99px;
  max-height: 288px;
  color: #292830;
  font-weight: 900;
  line-height: 1;
}

.text-section p {
  max-width: 350px;
  font-size: 24px;
  color: #bdbdbd;
  line-height: 2;
}

.products-section {
  display: flex;
  gap: 30px;
}

.card {
  border-radius: 12px;
  margin: auto;
  width: 350px;
  height: 350px;
  display: flex;
}
.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.4s;
}

.card-content {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content .icon1 {
  background-color: #ffbd740d;
  color: #ffbd74;
}
.card-content .icon2 {
  background-color: #e2598b0d;
  color: #e2598b;
}
.card-content .icon3 {
  background-color: #4d12ee0d;
  color: #4d12ee;
}

.card h6 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 12px;
}
.card p {
  font-size: 14px;
  color: #bdbdbd;
  width: 220px;
  text-align: center;
}
