.downloads {
  display: flex;
  flex-direction: column;
}

.downloads-orange-section {
  background-color: #ff7235;
  height: 100vh;
  padding-top: 120px;
}

.downloads-content {
  width: 920px;
  margin: auto;
  text-align: center;
}

.downloads-content h1 {
  font-size: 72px;
  color: white;
  text-align: center;
  line-height: 1;
  font-weight: bold;
}

.downloads-content p {
  color: white;
  font-size: 36px;
  margin-top: 24px;
}

.downloads-content button {
  background-color: #ffffffe6;
  color: #ff7235;
  border-radius: 8px;
  font-size: 22px;
  padding: 12px 24px;
  margin-top: 60px;
}

.downloads-vector-left {
  position: absolute;
  left: 0;
  top: 6960px;
}

.downloads-vector-right {
  position: absolute;
  top: 6675px;
  right: 0;
}

.layer-image {
  position: absolute;
  top: 7010px;
  left: 70px;
  z-index: 1;
}

.layer-image2 {
  position: absolute;
  top: 7010px;
  right: 70px;
  z-index: 1;
}
