nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 160px;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #292830;
  font-size: 18px;
}

.request {
  border: 1px solid #ff7235;
  color: #ff7235;
  border-radius: 8px;
  padding: 8px 13px;
  font-size: 18px;
}
.request:hover {
  background-color: #ff7235;
  color: white;
}

@media (max-width: 1024px) {
  nav {
    min-height: 100px;
  }
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 16px;
  }
  .request {
    padding: 8px 12px;
    font-size: 16px;
  }
}
