.overview {
  display: flex;
  flex-direction: column;
}

.orange-section {
  background-color: #ff7235;
  height: 100vh;
  z-index: 1;
}

.overview-image {
  margin: auto;
  padding: 117px;
}

.white-section {
  width: 1108.2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 60px;
}

.vector-left {
  position: absolute;
  /* bottom: calc(100% + 100% + 130% + 115% + 110% + 100% + 110% + 110%); */
  top: 157.7%;
  z-index: -1;
}

.vector-right {
  position: absolute;
  top: 115%;
  right: 0;
  z-index: -1;
}
